<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <% if user_signed_in? %>
          <% if current_user.id === 1 %>
            <%= link_to "Add new project", projects_new_path,
                class: 'waves-effect waves-light btn modal-trigger right' %>
          <% end %>
        <% end %>
        <h4 class="center proj-title"> My Projects</h4>
        <hr class="z-depth-1" />
          <div class="row">
            <% @projects.each do |p| %>
              <div class="col s4">
                <div class="card hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <%= image_tag( p.image.url , class: 'activator') %>
                  </div>
                  <div class="card-content project center">
                    <span class="card-title activator grey-text text-darken-4">
                      <%= p.title %>
                      <p>
                      <a
                        class=
                          "waves-effect waves-light btn modal-trigger read-more"
                        href=
                          "#modal<%= p.id %>">Read More
                        </a>
                      </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<% @projects.each do |p| %>
  <div id="modal<%= p.id %>" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center"><%= p.title %></h4>
      <p class="center"><%= image_tag( p.image.url, class: 'modal-image') %></p>
      <p class="proj-content"><%=  p.description %></p>
      <div class="chip tags z-depth-2">Ruby</div>
      <div class="chip tags z-depth-2">Rails</div>
      <div class="chip tags z-depth-2">Postgresql</div>
      <div class="chip tags z-depth-2">Devise</div>
      <div class="chip tags z-depth-2">Bootstrap</div>
    </div>
    <div class="modal-footer proj-mod-footer">
      <!-- Link to github  -->
      <a href="<%= p.github %>" class="waves-effect waves-light btn left">
        Github (source)
      </a>

      <!-- Close the modal -->
      <a href="#"
         class="modal-action modal-close waves-effect waves-green btn right">
         Close
      </a>

      <!-- Link to heroku -->
      <a href="<%= p.heroku %>"
         class="waves-effect waves-light btn" style="margin-right: 10%;">
        Heroku(Live)(Work in Progress)
      </a>
    </div>
  </div>
<% end %>
