<!DOCTYPE html>
<html>
<head>
  <title>LB Development-V1</title>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' \
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Simonetta'
        rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<%= render 'shared/menu' %>

<p class="notice center"><%= notice %></p>
<p class="alert center"><%= alert %></p>



<%= yield %>

<%= render 'shared/footer' %>
</body>
</html>
